*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero{
    height:100%;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Services_dp.jpg);
    background-position:center;
    background-size:cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height:480px;
    position:relative;
    margin:6% auto;
    background: #fff;
    padding: 8px;
    overflow: hidden;
}

.button-box{
    width:220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 32px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{

    top:0;
    left:0;
    position:absolute;
    width:110px;
    height: 100%;
    background: linear-gradient(to right,#91ec12,#5ed9e4);
    border-radius: 30px;
    transition:.5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:0;
    border-right: 0;
    border-bottom: 1px solid #999; 
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background: linear-gradient(to right,#ed6d0c,#5ed9e4);
    border:0;
    outline:none;
    border-radius:  30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

.span{
color: #777;
font-size: smaller;
bottom:68px;
position:absolute;
}

#login{
    position:absolute;
    left: 50px;

}

#register{
    position: absolute;
    left:450px;
}

#login h3{
    position: relative;
}

.copy-link {
    --height: 36px;
  
    display: flex;
    max-width: 250px;
  }
  
  .copy-link-input {
    flex-grow: 1;
    padding: 0 8px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-right: none;
    outline: none;
  }
  
  .copy-link-input:hover {
    background: #eeeeee;
  }
  
  .copy-link-button {
    flex-shrink: 0;
    width: var(--height);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #070707;
    color: #dddddd;
    outline: none;
    border: 1px solid #cccccc;
    cursor: pointer;
  }
  
  .copy-link-button:hover {
    background: #cccccc;
  }

  .copy1-link {
    --height: 36px;
  
    display: flex;
    max-width: 250px;
  }
  
  .copy1-link-input {
    flex-grow: 1;
    padding: 0 8px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-right: none;
    outline: none;
  }
  
  .copy1-link-input:hover {
    background: #cac7c7;
  }
  
  .copy1-link-button {
    flex-shrink: 0;
    width: var(--height);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #070707;
    color: #d0cbcb;
    outline: none;
    border: 1px solid #cccccc;
    cursor: pointer;
  }

  .copy1-link-button:hover {
    background: #cccccc;
  }
  

  .copy2-link-button:hover {
    background: #cccccc;
  }

  .copy2-link {
    --height: 36px;
  
    display: flex;
    max-width: 250px;
  }
  
  .copy2-link-input {
    flex-grow: 1;
    padding: 0 8px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-right: none;
    outline: none;
  }
  
  .copy2-link-input:hover {
    background: #eeeeee;
  }
  
  .copy2-link-button {
    flex-shrink: 0;
    width: var(--height);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #070707;
    color: #dddddd;
    outline: none;
    border: 1px solid #cccccc;
    cursor: pointer;
  }
  
  .copy2-link-button:hover {
    background: #f0eded;
  }

 

  .copy3-link {
    --height: 36px;
  
    display: flex;
    max-width: 250px;
  }
  
  .copy3-link-input {
    flex-grow: 1;
    padding: 0 8px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-right: none;
    outline: none;
  }
  
  .copy3-link-input:hover {
    background: #eeeeee;
  }
  
  .copy3-link-button {
    flex-shrink: 0;
    width: var(--height);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #070707;
    color: #dddddd;
    outline: none;
    border: 1px solid #cccccc;
    cursor: pointer;
  }
  
  .copy3-link-button:hover {
    background: #cccccc;
  }


  