* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#user-input {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    font-size: larger;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: calc(100% - 160px);
}

#btn {
    color: white;
    padding: 10px;
    border-radius: 25px;
    font-size: larger;
    background-color: black;
    border: none;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(119, 119, 123);
    color: black;
}


.chatbox {
    padding: 16px 20px;
}

.chatbox .chat {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.chatbox .chat p {
    background: #742ae8;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 0.95rem;
    color: #fff;
    max-width: 75%;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    background: #742ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-input {
    position: fixed;
    bottom: 20px;
    left: calc(50% + 180px);
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chat-input textarea {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 10px;
    border-radius: 30px;
}

.chat-input span {
    color: #742ae8;
    font-size: 1.35rem;
    margin-left: 10px;
    cursor: pointer;
    line-height: 55px;
    align-self: flex-end;
    visibility: hidden;
}

.chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width:50px;
    background-color:purple;
    border:none;
    outline:none;
    border-radius: 0.5em;

}

.chatbot{
    position: fixed;
    right: 40px;
    bottom:100px;
    width: 420px;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
}

.chatbot-toggler span{
    position: absolute;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1 ;
}
